{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/NpcMenu/panel/header.png",
      "fileBody": "/interface/scripted/NpcMenu/panel/body_altered.png",
      "fileFooter": "/interface/scripted/NpcMenu/panel/footer.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "PenguinZ",
      "subtitle": "Extra Ship ModificationsGUI",
      "icon": {
        "type": "image",
        "file": "/objects/outpost/repairo/repairoicon.png",
        "zlevel": -1
      }
    },
    "acceptBtn": {
      "zlevel": 1,
      "type": "button",
      "base": "/interface/scripted/NpcMenu/panel/button.png",
      "hover": "/interface/scripted/NpcMenu/panel/button.png",
      "press": "/interface/scripted/NpcMenu/panel/button.png",
      "position": [193, 30],
      "pressedOffset": [0, -1]
    },
    "sldMainSlider": {
      "type": "slider",
      "zlevel": 3,
      "position": [12, 63],
      "gridImage": "/interface/scripted/NpcMenu/sliderAssets/bar_body.png",
      "showSpinner": true,
      "callback": "onMainSliderChange",
      "data": {
        "valueId": "lblSliderValue",
        "valueText": "Seed Value: %s",
        "minSldValue": 0,
        "maxSldValue": 20000,
        "removeOnZero": false,
        "funcName": "setSeedValue",
        "path": "identity.bodyDirectives",
        "key": "bodyDirectives",
        "gsubTable": ["%?saturation=(%w+)", "?saturation=<1>"]
      }
    },
    "spnSldParamBase": {
      "type": "spinner",
      "zlevel": 4,
      "position": [25, 45],
      "data": {
        "selfName": "spnSldParamBase",
        "sldName": "sldMainSlider",
        "lblName": "lblSpnParamBase",
        "spnDetailName": "spnSldParamDetail",
        "lblDetailName": "lblSpnParamDetail",
        "index": 1,
        "maxIndx": 3,
        "sldParams": [{
            "valueText": "Seed Value: %s",
            "removeOnZero": false,
            "funcName": "setSeedValue"
          }, {
            "valueText": "Hueshift Amount: %s",
            "removeOnZero": true,
            "zeroText": "None",
            "funcName": "setOverride",
            "gsubTable": ["%?hueshift=(%w+)", "?hueshift=<1>"]
          }, {
            "valueText": "Saturation Amount: %s",
            "removeOnZero": true,
            "zeroText": "None",
            "funcName": "setOverride",
            "gsubTable": ["%?saturation=(%w+)", "?saturation=<1>"]
          }
        ],
        "params": [{
            "titleText": "Seed",
            "minSldValue": 0,
            "maxSldValue": 20000,
            "detailVisible": false,
            "detailFontColor": [100, 100, 100]
          }, {
            "titleText": "Hueshift",
            "minSldValue": 0,
            "maxSldValue": 360,
            "detailVisible": true,
            "detailFontColor": [255, 255, 255]
          }, {
            "titleText": "Saturation",
            "minSldValue": 0,
            "maxSldValue": 100,
            "detailVisible": true,
            "detailFontColor": [255, 255, 255]
          }
        ]
      }
    },
    "spnSldParamDetail": {
      "type": "spinner",
      "zlevel": 4,
      "position": [90, 45],
      "visible": false,
      "data": {
        "sldName": "sldMainSlider",
        "selfName": "spnSldParamDetail",
        "lblName": "lblSpnParamDetail",
        "index": 1,
        "maxIndx": 5,
        "fontColor": [[100, 100, 100], [255, 255, 255]],
        "sldParams": [{
            "path": "identity.bodyDirectives",
            "key": "bodyDirectives"
          }, {
            "path": "identity.emoteDirectives",
            "key": "emoteDirectives"
          }, {
            "path": "identity.hairDirectives",
            "key": "hairDirectives"
          }, {
            "path": "identity.facialHairDirectives",
            "key": "facialHairDirectives"
          }, {
            "path": "identity.facialMaskDirectives",
            "key": "facialMaskDirectives"
          }
        ],
        "params": ["Body", "Emote", "Hair", "Facial Hair", "Facial Mask"]
      }
    },
    "lblSpnParamBase": {
      "type": "label",
      "zlevel": 6,
      "position": [45, 45],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "wrapWidth": 240,
      "value": "Seed"
    },
    "lblSpnParamDetail": {
      "type": "label",
      "zlevel": 6,
      "color": [100, 100, 100],
      "position": [110, 45],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "wrapWidth": 240,
      "value": "Body"
    },
    "lblSliderValue": {
      "type": "label",
      "zlevel": 6,
      "position": [45, 30],
      "hAnchor": "left",
      "vAnchor": "bottom",
      "wrapWidth": 240,
      "value": "Seed: 0"
    },
    "rgSelectCategory": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "onCategorySelection",
      "visible": true,
      "baseImage": "/interface/scripted/NpcMenu/radioGroup/category.png:base",
      "hoverImage": "/interface/scripted/NpcMenu/radioGroup/category.png:hover",
      "baseImageChecked": "/interface/scripted/NpcMenu/radioGroup/category.png:checked",
      "hoverImageChecked": "/interface/scripted/NpcMenu/radioGroup/category.png:checked",
      "buttons": [{
          "selected": true,
          "pressedOffset": [0, 0],
          "position": [151, 175],
          "data": "Generate"
        }, {
          "selected": true,
          "pressedOffset": [0, 0],
          "position": [151, 133],
          "data": "Colorize"
        }, {
          "selected": true,
          "pressedOffset": [0, 0],
          "position": [151, 91],
          "data": "Advanced"
        }
      ]
    },
    "lblTechSlotHead": {
      "type": "label",
      "position": [177, 208],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "GENERATE"
    },
    "techIconHead": {
      "type": "image",
      "position": [165, 189],
      "centered": true,
      "mouseTransparent": true
    },
    "lblTechSlotBody": {
      "type": "label",
      "position": [177, 166],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "COLORIZE"
    },
    "techIconBody": {
      "type": "image",
      "position": [165, 147],
      "centered": true,
      "mouseTransparent": true,
      "file": "/interface/easel/consoleheadericon.png"
    },
    "lblTechSlotLeg": {
      "type": "label",
      "position": [177, 124],
      "hAnchor": "right",
      "vAnchor": "mid",
      "value": "ADVANCED"
    },
    "techIconLegs": {
      "type": "image",
      "position": [165, 105],
      "centered": true,
      "mouseTransparent": true,
      "file": "/interface/crafting/researchstation.png"
    },
    "rgTabs": {
      "type": "radioGroup",
      "zlevel": 7,
      "toggleMode": false,
      "callback": "selectTab",
      "baseImage": "/interface/scripted/NpcMenu/listAssets/tab-base.png",
      "hoverImage": "/interface/scripted/NpcMenu/listAssets/tab-hover.png",
      "baseImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
      "hoverImageChecked": "/interface/scripted/NpcMenu/listAssets/tab-checked.png",
      "buttons": [{
          "id": 0,
          "text": "Info",
          "fontSize": 5.8,
          "selected": true,
          "pressedOffset": [0, 0],
          "position": [188, 207],
          "data": "tab1"
        }, {
          "id": 1,
          "text": "Species",
          "fontSize": 5.8,
          "selected": false,
          "pressedOffset": [0, 0],
          "position": [214, 207],
          "data": "tab2"
        }, {
          "id": 2,
          "text": "NpcType",
          "fontSize": 5.8,
          "selected": false,
          "pressedOffset": [0, 0],
          "position": [240, 207],
          "data": "tab3"
        }, {
          "id": 3,
          "text": "Hair",
          "fontSize": 5.8,
          "selected": false,
          "pressedOffset": [0, 0],
          "position": [266, 207],
          "data": "tab4"
        }, {
          "id": 4,
          "text": "FHair",
          "fontSize": 5.8,
          "selected": false,
          "pressedOffset": [0, 0],
          "position": [292, 207],
          "data": "tab5"
        }, {
          "id": 5,
          "text": "FMask",
          "fontSize": 5.8,
          "selected": false,
          "pressedOffset": [0, 0],
          "position": [318, 207],
          "data": "tab6"
        }
      ]
    },
    "techScrollArea": {
      "type": "scrollArea",
      "rect": [188, 92, 344, 206],
      "visible": false,
      "children": {
        "lblOverrideConsole": {
          "type": "label",
          "position": [0, 0],
          "hAnchor": "left",
          "vAnchor": "top",
          "fontSize": 6,
          "lineSpacing": 1.0,
          "wrapWidth": 140,
          "value": " "
        },
        "techList": {
          "type": "list",
          "callback": "onSelectItem",
          "schema": {
            "selectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:active",
            "unselectedBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
            "disabledBG": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
            "spacing": [0, 0],
            "memberSize": [147, 22],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/scripted/NpcMenu/listAssets/listitem.png:disabled",
                "position": [0, 0],
                "zlevel": -1
              },
              "title": {
                "type": "label",
                "position": [25, 6],
                "hAnchor": "left",
                "wrapWidth": 130,
                "value": "Replace Me"
              },
              "techIcon": {
                "type": "image",
                "position": [10, 11],
                "centered": true,
                "callback": "null",
                "scale": 0.9
              }
            }
          }
        },
        "infoList": {
          "type": "list",
          "callback": "null",
          "schema": {
            "spacing": [0, 0],
            "memberSize": [147, 40],
            "listTemplate": {
              "detail": {
                "type": "label",
                "position": [4, 34],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 140,
                "fontSize": 6,
                "lineSpacing": 1.0,
                "value": ""
              },
              "title": {
                "type": "label",
                "position": [4, 2],
                "hAnchor": "left",
                "centered": true,
                "fontSize": 10,
                "value": ""
              },
              "key": {
                "type": "label",
                "position": [4, 20],
                "hAnchor": "left",
                "vAnchor": "mid",
                "wrapWidth": 32,
                "fontSize": 6,
                "lineSpacing": 1.0,
                "value": ""
              },
              "value": {
                "type": "label",
                "position": [40, 20],
                "hAnchor": "left",
                "vAnchor": "mid",
                "wrapWidth": 105,
                "fontSize": 6,
                "lineSpacing": 1.0,
                "value": ""
              },
              "valueCont": {
                "type": "label",
                "position": [40, 34],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 105,
                "fontSize": 6,
                "lineSpacing": 1.0,
                "value": ""
              }
            }
          }
        }
      }
    },
    "tbOverrideBox": {
      "type": "textbox",
      "zlevel": 9,
      "position": [205, 79],
      "hint": "input override",
      "regex": "[a-zA-Z0-9 -<>?=;!@#$%^&*()+*/~`_]{0,999}",
      "maxWidth": 100,
      "enterKey": "onOverrideEnter",
      "focus": false,
      "callback": "null"
    },
    "tbSearchBox": {
      "type": "textbox",
      "zlevel": 10,
      "position": [205, 79],
      "hint": "search",
      "regex": "[a-zA-Z0-9 -]{0,999}",
      "maxWidth": 100,
      "focus": false,
      "callback": "onSeachBoxKeyPress"
    },
    "tbNameBox": {
      "type": "textbox",
      "zlevel": 9,
      "regex": "[a-zA-Z0-9 '-]{0,16}",
      "hAnchor": "mid",
      "vAnchor": "mid",
      "position": [22, 202],
      "hint": "NPC Name",
      "maxWidth": 60,
      "enterKey": "setNpcName",
      "focus": false,
      "callback": "null"
    },
    "rgGenders": {
      "type": "radioGroup",
      "zlevel": 8,
      "position": [60, 96],
      "baseImage": "/interface/title/button.png?scalebicubic=0.8",
      "hoverImage": "/interface/title/buttonover.png?scalebicubic=0.8",
      "baseImageChecked": "/interface/title/selected.png?scalebicubic=0.8",
      "hoverImageChecked": "/interface/title/selectedover.png?scalebicubic=0.8",
      "callback": "onGenderSelection",
      "data": "?scalebicubic=0.8",
      "buttons": [{
          "id": 0,
          "image": "/interface/title/male.png?scalebicubic=0.8",
          "selected": true,
          "position": [0, 0],
          "data": "male"
        }, {
          "id": 1,
          "image": "/interface/title/female.png?scalebicubic=0.8",
          "position": [20, 0],
          "data": "female"
        }
      ]
    },
    "spnIdleStance": {
      "type": "spinner",
      "position": [15, 101],
      "zlevel": 9,
      "data": "HERRO"
    },
    "lblIdleStance": {
      "type": "label",
      "zlevel": 10,
      "position": [38, 105],
      "hAnchor": "left",
      "vAnchor": "mid",
      "value": "Idle"
    }
  },
  "scriptWidgetCallbacks": ["acceptBtn", "onMainSliderChange", "onSelectItem", "onGenderSelection", "onCategorySelection", "selectTab", "onOverrideEnter", "setNpcName", "spnIdleStance.up", "spnIdleStance.down", "onSeachBoxKeyPress", "spnSldParamBase.up", "spnSldParamBase.down", "spnSldParamDetail.up", "spnSldParamDetail.down"],
  "scripts": ["/objects/outpost/shipyardwelding/interface/extrashipupgradespanescript.lua", "/scripts/npcspawnutil.lua"],
  "scriptDelta": 0
}