{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/objects/outpost/shipyardwelding/interface/chestheader.png",
      "fileBody": "/objects/outpost/shipyardwelding/interface/chestbody-mod.png",
      "fileFooter": "/objects/outpost/shipyardwelding/interface/chestfooter.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "PenguinZ",
      "subtitle": "Extra Ship Modifications",
      "icon": {
        "type": "image",
        "file": "/interface/craftinghoverOpen.png",
        "zlevel": -1
      }
    },

    "lblCrewSize": {
      "type": "label",
      "zlevel": 1,
      "position": [10, 120],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "value": "CREW SIZE: "
    },
    "lblMaxFuel": {
      "type": "label",
      "zlevel": 1,
      "position": [10, 100],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "lineSpacing": 1.0,
      "value": "MAX FUEL: "
    },
    "lblFuelEfficiency": {
      "type": "label",
      "zlevel": 1,
      "position": [10, 80],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "value": "FUEL COST MULTIPLIER: "
    },
    "lblCrewSizeValue": {
      "type": "label",
      "zlevel": 1,
      "position": [100, 120],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "value": "20"
    },
    "lblMaxFuelValue": {
      "type": "label",
      "zlevel": 1,
      "position": [100, 100],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "lineSpacing": 1.0,
      "value": "1.0"
    },
    "lblFuelEfficiencyValue": {
      "type": "label",
      "zlevel": 1,
      "position": [100, 80],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 100,
      "value": "1000"
    },
    "spnCrewSizeValue": {
      "type": "spinner",
      "zlevel": 4,
      "position": [130, 116],
      "callback" : "modCrewSize",
      "data" : {
        "linkedLabel" : "lblCrewSizeValue",
        "maxIndex" : 99,
        "minIndex" : 3,
        "step" : 1
      }
    },
    "spnMaxFuelValue": {
      "type": "spinner",
      "zlevel": 4,
      "position": [130, 96],
      "callback" : "modMaxFuel",
      "data" : {
        "linkedLabel" : "lblMaxFuelValue",
        "maxIndex" : -1,
        "minIndex" : 1000,
        "step" : 100
      }
    },
    "spnFuelEfficiencyValue": {
      "type": "spinner",
      "zlevel": 4,
      "position": [130, 76],
      "callback" : "modFuelEfficiency",
      "data" : {
        "linkedLabel" : "lblFuelEfficiencyValue",
        "maxIndex" : -1,
        "minIndex" : 0.0,
        "step" : 0.1
      }
    }
  },
  "scriptWidgetCallbacks": ["modCrewSize.up", "modCrewSize.down", "modFuelEfficiency.up", "modFuelEfficiency.down", "modMaxFuel.up", "modMaxFuel.down"],
  "scripts": ["/objects/outpost/shipyardwelding/interface/extrashipupgradespanescript.lua", "/scripts/npcspawnutil.lua"],
  "scriptDelta": 0
}